@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eMag2</h1>
    <p class="lead">eMag2 - an online store as the world haven't seen! We have everything for everyone!</p>
    <p><a href="products" class="btn btn-primary btn-lg">Check Our Products!</a></p>
</div>