<section id="productDescription" class="mt-4">
    <div class="container" style="background: white">
        <h2>Description</h2>
        <hr />
        <div class="row text-center px-5">
            @Model.Product.Description
        </div>
    </div>
</section>